<!-- Display a specific pondering -->

<div class="container">
  <div class="pondering">
    <div class="row">
      <div class="col l3 align-left">
        <%= @pondering.filosofer.username %>
      </div>
      <%= @pondering.body %>
    </div>

    <div class="row">
      <div class="col s4 m2 offset-m2 l1 offset-l3">
        <!-- Form for upvote
        Not sure if the form action is correct with the upvote and the end of the link -->
        <form action="/ponderings/<%= @pondering.id %>/upvote" method="post">
          <input type="submit" value="Upvote" name="Upvote"</input>
        </form>
        <p class="light-green-text"><%= @pondering.upvotes.size %></p>
        <!-- Form for downvote
        Again, may need to change form action -->
        <form action="/ponderings/<%= @pondering.id %>/downvote" method="post">
          <input type="submit" value="Downvote" name="Downvote"</input>
        </form>
        <p class="light-red-text"> <%= @pondering.downvotes.size %></p>
      </div>
    </div>

    <% @pondering.theories.each do |theory| %>
      <div class="theories">
        <%= theory.body %>
          <div class="row">
            <div class="col l1">
              <!-- upvote and downvote forms for theories -->
              <form action="/ponderings/<%= @pondering.id %>/upvote" method="post">
                <input type="submit" value="Upvote" name="Upvote"</input>
              </form>
                <p class="light-green-text"><%= @pondering.upvotes.size %></p>

              <form action="/ponderings/<%= @pondering.id %>/downvote" method="post">
                <input type="submit" value="Downvote" name="Downvote"</input>
              </form>
                <p class="light-red-text"> <%= @pondering.downvotes.size %></p>
            </div>
          </div>
      </div>
      <% end %>
  </div>
</div>
