<!-- display top 10 ponderings
order by newest (default), upvoted, most theorized, etc ... -->

<div class="row teal darken-3">
  <% @ponderings.each do |pondering| %>
    <div class="col s12 m6">
      <div class="card white">
        <div class="card-content teal-text">
          <a href="/ponderings/<%= pondering.id %>">
            <span class="card-title light-blue-text"><%= pondering.title %></span>
            <div class="card-author light-green-text">
              <%= pondering.filosofer.username %>
            </div>
          </a>
        </div>
        <div class="card-action center">
          <% if (pondering.upvotes.size - pondering.downvotes.size) > 0 %>
            <h3 class="light-green-text"><%= pondering.upvotes.size - pondering.downvotes.size %></h3>
          <% elsif (pondering.upvotes.size - pondering.downvotes.size) < 0 %>
            <h3 class="red-text"><%= pondering.upvotes.size - pondering.downvotes.size %></h3>
          <% else %>
            <h3 class="grey-text"><%= pondering.upvotes.size - pondering.downvotes.size %></h3>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
