<!-- Display a specific pondering -->
<section class="pondering">
  <div class="row">
    <!-- Votes -->
    <div class="col s4 l2 center">
      <br/>

      <!-- Upvote -->
      <form action="/ponderings/<%= @pondering.id %>/upvote" method="post">
        <input type="submit" class="btn light-green waves-effect waves-light" value="Upvote" name="Upvote"></input>
      </form>

      <p class="grey-text"><%= @pondering.upvotes.size - @pondering.downvotes.size %></p>

      <!-- Downvote -->
      <form action="/ponderings/<%= @pondering.id %>/downvote" method="post">
        <input type="submit" class="btn red waves-effect waves-light" value="Downvote" name="Downvote"></input>
      </form>

      <br/><br/>

      <button class="btn waves-effect waves-light amber"><a class="white-text" href="/ponderings/<%= @pondering.id %>/theories/new">Theorify</a></button>
    </div>
    <!-- End Votes -->

    <div class="col s8 l10 center">
      <h2><%= @pondering.title %></h2>
      <p class="light-green-text"><%= @pondering.filosofer.username %></p>
      <p class="flow-text teal-text"><%= @pondering.body %></p>
    </div>
  </div>

  <% if @pondering.theories.any? %>

    <h3 class="center white-text teal darken-2">Theories</h3>

    <% @pondering.theories.each do |theory| %>
      <div class="row">
        <!-- Votes -->
        <div class="col s4 l2 center">
          <br/>

          <!-- Upvote -->
          <form action="/ponderings/<%= @pondering.id %>/theories/<%= theory.id %>/upvote" method="post">
            <input type="submit" class="btn light-green waves-effect waves-light" value="Upvote" name="Upvote"></input>
          </form>

          <p class="grey-text"><%= theory.upvotes.size - theory.downvotes.size %></p>

          <!-- Downvote -->
          <form action="/ponderings/<%= @pondering.id %>/theories/<%= theory.id %>/downvote" method="post">
            <input type="submit" class="btn red waves-effect waves-light" value="Downvote" name="Downvote"></input>
          </form>

          <br/>

          <% if theory.best_theory == true %>
            <span class="light-green-text"><i class="material-icons large">done</i></span>
          <% else %>
            <br/>
            <form action="/ponderings/<%= @pondering.id %>/theories/<%= theory.id %>/best" method="post">
              <button class="btn waves-effect waves-light deep-purple">Best Answer</button>
            </form>
          <% end %>
        </div>
        <!-- End Votes -->

        <div class="col s8 l10 center">
          <p class="flow-text"><%= theory.body %></p>
          <p class="align-right light-green-text"><%= theory.filosofer.username %></p>
        </div>
      </div>
      <div class="divider"></div>
    <% end %>
  <% end %>
</section>
