<div class='row'>
  <div class='col s8 offset-s2 teal-text'>
    <h3>Hello <%= current_user.name%></h3>
  </div>
</div>

<div class='row'>
  <div class='col s8 offset-s2'>

      <ul class="collection with-header">
        <li class="collection-header teal-text"><h5><%= current_user.name%> Stats</h5></li>
        <li class="collection-item">Number of Ponders: <%= current_user.ponderings.count %></li>
        <li class="collection-item">Number of Theories: <%= current_user.theories.count %></li>
        <li class="collection-item">Points: <%= @points %></li>
      </ul>

  </div>
</div>


