<div class='row'>
  <div class='col s8 offset-s2 deep-purple-text center'>
    <h3>Hello <span class="light-green-text"><%= current_user.username%></span></h3>
  </div>
</div>

<div class='row'>
  <div class='col s8 offset-s2'>

      <ul class="collection with-header center">
        <li class="collection-header"><h2>Your <span class="deep-purple-text">Stats</span></h2></li>
        <li class="collection-item">Number of Ponders: <h4 class="light-green-text"><%= current_user.ponderings.count %></h4></li>
        <li class="collection-item">Number of Theories: <h4 class="light-green-text"><%= current_user.theories.count %></h4></li>
      </ul>

  </div>
</div>

<div class="divider deep-purple"></div>

<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <% current_user.ponderings.each do |pondering| %>
      <div class="row">
        <div class="card blue-grey darken-1">
          <a href="/ponderings/<%= pondering.id %>">
            <div class="card-content white-text">
              <span class="card-title"><%= pondering.title %></span>
              <p><%= pondering.body %></p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>


